<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee">
    <servlet>
        <servlet-name>MainControllerServlet</servlet-name>
        <servlet-class>MainController.MainControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffControllerServlet</servlet-name>
        <servlet-class>StaffController.StaffControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserControllerServlet</servlet-name>
        <servlet-class>UserController.UserControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataViewServlet</servlet-name>
        <servlet-class>StaffController.DataViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>StaffController.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>StaffController.ManageStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>StaffController.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>StaffController.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindMobileToUpdateServlet</servlet-name>
        <servlet-class>StaffController.FindMobileToUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffServlet</servlet-name>
        <servlet-class>StaffController.ManageStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMobileController</servlet-name>
        <servlet-class>UserController.ViewMobileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>UserController.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>UserController.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCartController</servlet-name>
        <servlet-class>UserController.ManageCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>UserController.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveToCartController</servlet-name>
        <servlet-class>UserController.SaveToCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainControllerServlet</servlet-name>
        <url-pattern>/MainControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffControllerServlet</servlet-name>
        <url-pattern>/StaffControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserControllerServlet</servlet-name>
        <url-pattern>/UserControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataViewServlet</servlet-name>
        <url-pattern>/DataViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/RemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindMobileToUpdateServlet</servlet-name>
        <url-pattern>/FindMobileToUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffServlet</servlet-name>
        <url-pattern>/ManageStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMobileController</servlet-name>
        <url-pattern>/ViewMobileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCartController</servlet-name>
        <url-pattern>/ManageCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/RemoveFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveToCartController</servlet-name>
        <url-pattern>/SaveToCartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
